[submodule "themes/bootstrap-bp-hugo-startpage"] 
  path = themes/bootstrap-bp-hugo-startpage 
  url = https://github.com/spech66/bootstrap-bp-hugo-startpage.git
[submodule "themes/hello-4s3ti"]
	path = themes/hello-4s3ti
	url = https://github.com/4s3ti/hugo-theme-hello-4s3ti.git
